<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class:'form-control', 
            minlength: 3, maxlength: 64, required: true %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class:'form-control', 
            minlength: 3, maxlength: 64, required: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class:'form-control', 
            minlength: 3, maxlength: 64, required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.text_field :password, class:'form-control', 
            minlength: 6, maxlength: 64 %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.text_field :password_confirmation, class:'form-control', 
            minlength: 6, maxlength: 64 %>
      </div>
    </div>
  </div>
</div>
