<% provide(:title, "Items") %>

<h1>Listing items</h1>

<table class="item-list">
  <tr>
    <th>Item name</th>
    <th>Price</th>
    <th><%= link_to "Add", new_item_path, class:'btn btn-success btn-sm' %></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td>
        <%= link_to "edit", edit_item_path(item) %>
        <%= link_to "delete", item_path(item), method: :delete, 
        data: { confirm: 'Are you sure about that?'} %>
      </td>
    </tr>
  <% end %>
</table>
